body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.navbar {
  background-color: #444;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 4px;
}

.content {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  text-align: center;
}



/* Form Style */
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-label {
  font-size: 18px;
  font-weight: bold;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px; /* Limitáljuk a maximális szélességet */
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  margin-top: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #000000; /* Zöld szegély, ha fókuszálunk a mezőre */
}

.search-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #292929;
}

.result {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.error-message {
  color: red;
  font-weight: bold;
}

p {
  font-size: 16px;
}
